<h4>Add new system</h4>
<form [formGroup]="systemForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Description:
      <input class="form-control" formControlName="description">
    </label>
  </div>
  <div class="form-group">
    <input class="form-control btn btn-primary" type="submit" value="Submit" (click)="save()">
  </div>
</form>
status:{{systemForm.status}}
valid:{{systemForm.valid}}
pristine:{{systemForm.pristine}}
dirty:{{systemForm.dirty}}
