<h1>Systems</h1>

<div class="container">
  <div class="jumbotron">
    <h2>Sytem List</h2>
    <div class="list-group">
      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">Lorem ipsum dolor.</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus.</p>
      </a>
      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">Atque assumenda, earum?</h4>
        <p class="list-group-item-text">Sint nemo repudiandae eum quod ex non, soluta est.</p>
      </a>
      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">Molestias beatae, doloremque!</h4>
        <p class="list-group-item-text">Vitae molestias eveniet architecto. Nisi veniam ad mollitia repellendus.</p>
      </a>
      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">Quo, vero qui?</h4>
        <p class="list-group-item-text">Fuga magni minima, cum ratione mollitia adipisci, debitis aspernatur.</p>
      </a>
    </div>
  </div>
</div>
